* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  margin: 10px;
}

h3 {
  margin: 50px 0 20px 0;
}

h4 {
  margin: 50px 0 20px 0;
}

input {
  width: 200px;
  height: 30px;
  margin-left: 15px;
  border-radius: 8px;
}

button {
  width: 80px;
  height: 30px;
  display: inline-block;
  margin-left: 15px;
  border-radius: 8px;
}

.signout {
  margin: 0;
  background-color: red;
  color: white;
  font-weight: bold;
}